[core]
nick = MCMXI
user = mcmxi
modes = 
host = irc.supernets.org
port = 6697
use_ssl = true
verify_ssl = false
channels = #!/bin/bash
owner = sq
owner_account = sq
timeout = 120
prefix = \`
extra = modules/
auth_method = sasl
auth_username = sq
auth_password = changeme
auth_target = PLAIN
flood_burst_lines = 999999
flood_empty_wait = 0.125
flood_refill_rate = 999999
exclude =
    wiktionary
    ping
    lmgtfy
    choose
    isup
    search
    url
    announce
    wikipedia
    xkcd
    unicode_info
    admin
    version
    translate
    currency
    dice
    countdown
    uptime
    find_updates
    adminchannel
    invite
    tell
    emoticons
    clock
    calc
    reload
    pronouns
    units
    rand
    tld
    seen
    safety
    find

[admin]
hold_ground = false
auto_accept_invites = false

[log]
logging = true
console = true

[jitsi]
instances = meet.seattlematrix.org

